[Desktop Entry]
Name=Lunacy Beta
GenericName=Lunacy Graphic Editor (Beta Version)
Comment=Vector graphics editor (Beta Version)
Exec=lunacy %u
Icon=com.icons8.Lunacy.Beta
Type=Application
Terminal=false
Categories=Graphics;2DGraphics;VectorGraphics;
MimeType=x-scheme-handler/i8-lunacy;
StartupWMClass=Lunacy
X-Desktop-File-Install-Version=0.26
